SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root
00 09 * * * {{ item.login }} /usr/bin/rclone-backup.sh -d {{ item.db_path }} -k {{ item.key_path }} -l {{ item.local_dir }} -c {{ item.cloud }} -- {{ item.paths | join(' ') }}

